<div class="container">
    <h1>Check Weather</h1>
    <ul style="list-style: none;">
        <li>
            <app-forecast-add></app-forecast-add>
        </li>
        <li *ngFor="let forecast of forecasts$ | async">
            <app-view [forecast]="forecast"></app-view>
            <app-forecast-add></app-forecast-add>
        </li>
     </ul>
</div>