    <div class="row" *ngIf="forecast && forecast !== undefined">
        <div class="col-12" >
            <p>
                <span>{{forecast?.name}} </span>
                <span>{{forecast?.main?.temp}}&#176; </span>
                <img [src]="this.icon" [alt]="forecast.weather[0].description">
            </p>

        </div>
    </div>
