<h3>Weather In: </h3>
<ul style="list-style: none;">
  <li *ngFor="let forecast of forecasts$ | async; let i=index">
    <p>
      <span >{{i+1}}. </span> <span>{{forecast.name}}; </span> <span>{{forecast.main.temp}}&#176;</span>
    </p>
  </li>
</ul>


