<div class="container">
  <form [formGroup]="queryForm" style="width: 100%;" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">city</label>
          <input type="text" class="form-control" readonly *ngIf="readOnly" [value]="cityName">          
          <select type="city" class="form-control" formControlName="city" placeholder="Please select city" *ngIf="!readOnly">
            <option value="null" disabled selected>select city</option>
            <option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
          </select>
        </div>
        <div *ngIf="isValidInput('city')" class="alert alert-danger">
          <div *ngIf="queryForm.controls['city'].errors!.required">
            city is required.
          </div>
          <div *ngIf="queryForm.controls['city'].errors!.pattern">
            Must be a valid city format.
          </div>
        </div>
      </div>
      <div class="col-md-5">

        <div class="form-group">
          <label for="units">units</label>
          <input type="units" class="form-control" formControlName="units"
            placeholder="Units(standard, metric, imperial)" [readonly]="readOnly">
        </div>
        <div *ngIf="isValidInput('units')" class="alert alert-danger">
          <div *ngIf="queryForm.controls['units'].errors!.required">
            units is required.
          </div>
          <div *ngIf="queryForm.controls['units'].errors!.pattern">
            Must be a valid units format (standard, metric, imperial).
          </div>
        </div>

      </div>
      <div class="col-md-1">
        <button [disabled]="!queryForm.valid || readOnly" type="submit" class="btn submitBtn"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>
  </form>
  <div class="row"></div>
</div>